* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.header-container {
    background-color: #005eb8;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: dotted;
}

.header-container h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.search-container {
    background-color: #007bc7;
    padding: 30px;
    text-align: center;
}

.search-form {
    display: flex;
    background-color: #ffffff;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 8px;
}

.form-group {
    margin: 10px;
    color: #0358a8;
}

.form-group input[type="text"],
.form-group input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.checkbox-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-group input {
    margin-right: 5px;
}

.promo-section {
    background-color: white;
    padding: 30px;
    text-align: center;
}

.promo-section img {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

footer {
    background-color: #003b73;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.options-container,
.option1-container {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    flex-wrap: wrap;  /* Added to allow wrapping */
}

.options-container {
    margin-bottom: 50px;  /* Space between rows */
}

.flight-options-form,
.option1-form {
    display: flex;
    gap: 20px;
}

.option,
.option1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option label,
.option1 label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #005bac;
}

.option1 label {
    color: #00196d;
}

select,
input {
    padding: 10px;
    font-size: 16px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

select:hover {
    cursor: pointer;
}

button {
    color: white;
    padding: 10px 20px; /* Adjust padding for better spacing */
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(58, 153, 3);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button-container {
    display: flex;
    justify-content: flex-end; /* Moves the button to the right */
    width: 93%; /* Ensures the button container takes full width */
}


