body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #0073e6;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type:none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.logout-button {
    background-color: #ffcc00;
    padding: 8px 12px;
    border-radius: 5px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-width:3px ;
    border-collapse: collapse;
    margin-top: 20px;
    border:#022ada;
}

th, td {
    border: 1px solid #0072cf;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #0073e6;
    color: white;
}
