* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.header-container {
    background-color: #005eb8;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: dotted;
}

.header-container h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type:none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.search-container {
    background-color: #007bc7;
    padding: 30px;
    text-align: center;
}

.search-form {
    display: flex;
    background-color: #ffffff;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 8px;


}

.form-group {
    margin: 10px;
    color:   #0358a8; 
}

.form-group input[type="text"], .form-group input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.checkbox-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-group input {
    margin-right: 5px;
}

.promo-section {
    background-color: white;
    padding: 30px;
    text-align: center;
}

.promo-section img {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

footer {
    background-color: #003b73;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.options-container {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
}
.option1-container{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px; 
}

.flight-options-form {
    display: flex;
    gap: 20px;
}
.option1-form{
    display: flex;
    gap: 30px; 
    }
.option {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.option1{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.option label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #005bac;
}

.option1 label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #00196d;
}

select {
    padding: 10px;
    font-size: 16px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

select:hover {
    cursor: pointer;
}

input{
    padding: 9px;
    padding: 10px;
    font-size: 16px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}
button {
    width: 10%;
    height: 35px;
    background-color: rgb(224, 185, 10);
    color: rgb(2, 2, 2);
    border-radius: 10px;
    text-align: center;
    
}