body {
    font-family: Arial, sans-serif;
    background-image: url("./flight.jpg");
    background-size: cover;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
}

h3 {
    text-align:right;
    margin-bottom: 7px;
}

form {
    text-align: right;
    max-width: 355px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 93%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 500px) {
    form {
        width: 90%;
    }
}
